@import '../../styles/variables.scss';

.services-page {
  .block-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
    margin-left: -30px;

    @media (max-width: $md) {
      margin: 0 -20px;
    }

    @media (max-width: $xs) {
      margin: 0 -15px;
    }
  }

  .block {
    margin-top: 40px;
    margin-bottom: 0;
    width: 50%;

    @media (max-width: $md) {
      padding: 0 20px 40px;
    }

    @media (max-width: $sm) {
      padding: 0 15px 20px;
    }

    @media (max-width: $xs) {
      padding: 0 20px 20px;
      width: 100%;

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    .block-wrapper {
      padding: 50px 45px 56px;

      @media (max-width: $md) {
        padding: 35px 20px 24px;
      }

      @media (max-width: $xs) {
        padding: 35px 15px 24px;
      }

      p {
        padding-bottom: 24px;
      }

      .btn-more {
        background: none;
        font-family: 'Inter';
        font-weight: 600;
        text-transform: uppercase;
        color: var(--green);
        cursor: pointer;
        border: none;
      }
    }
  }
}

.promo-section {
  display: flex;
  background-image: url(../../assets/image/program-services.jpg);
  background-size: cover;
}
