@import '../../styles/variables.scss';

.promo-section {
  display: flex;
  background: url(../../assets/image/home.jpg);
  background-size: cover;
  padding: 134px 0 133px;

  @media (max-width: $md) {
    padding: 40px 0;
  }

  .text-holder {
    max-width: 656px;
    margin: 0 auto;
    text-align: center;

    h2 {
      line-height: 48px;
      padding-bottom: 32px;

      @media (max-width: $md) {
        line-height: 30px;
        font-size: 30px;
        padding-bottom: 20px;
      }

      @media (max-width: $sm) {
        font-size: 20px;
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
      padding-bottom: 32px;
      margin: 0;

      @media (max-width: $md) {
        line-height: 25px;
        font-size: 16px;
        padding-bottom: 20px;
      }
    }
  }
  .info-btn {
    display: block;
    margin: 0 auto;
  }
}
