.right-left-block {
  position: relative;
  display: flex;

  &:nth-child(2) {
    .container {
      justify-content: flex-end;

      @media (max-width: $sm) {
        flex-direction: column;
      }
    }
  }

  .container {
    display: flex;
    padding: 0;

    @media (max-width: $sm) {
      flex-direction: column-reverse;
      padding: 0 30px;
    }
    @media (max-width: $xs) {
      padding: 0 20px;
    }
  }

  .img-holder {
    position: relative;

    @media (max-width: $md) {
      margin-bottom: 60px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -83px;
      right: 0;
      width: 81%;
      height: 145%;
      background: transparent;
      border: 12px var(--green) solid;
      opacity: 0.3;
      border-right: none;
      z-index: 1;

      @media (max-width: $xl) {
        width: 96%;
        height: 100%;
      }

      @media (max-width: $md) {
        margin: 0 auto;
        max-width: 550px;
        top: -60px;
      }
    }
  }

  img {
    width: 100%;

    @media (max-width: $xl) {
      height: 400px;
      object-fit: cover;
    }

    @media (max-width: $md) {
      height: 350px;
    }
  }
}

.col-left-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;

  @media (max-width: $md) {
    width: 50%;
  }

  @media (max-width: $sm) {
    position: sticky;
    width: 100%;
  }

  .img-holder {
    &::after {
      content: '';
      top: -115px;
      left: 0;
      width: 74%;
      height: 110%;
      border-right: 12px var(--green) solid;
      border-left: none;

      @media (max-width: $xl) {
        height: 100%;
        top: -80px;
      }

      @media (max-width: $md) {
        height: 98%;
        top: -59px;
        left: 9px;
        width: 92%;
        border-left: 12px var(--green) solid;
      }

      @media (max-width: $sm) {
        height: 101%;
        top: -53px;
      }

      @media (max-width: $sm) {
        height: 110%;
        top: 0;
      }
    }
  }
}

.col-right-center {
  width: 50%;

  @media (max-width: $sm) {
    width: 100%;
    margin-bottom: 30px;
  }

  .objects-text {
    padding: 25px 30px 0 113px;

    @media (max-width: $md) {
      padding: 0 30px 0 60px;
      height: 350px;
    }

    @media (max-width: $sm) {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}

.col-left {
  width: 50%;
  display: flex;
  align-items: center;

  @media (max-width: $xl) {
    padding-top: 0;
  }

  @media (max-width: $sm) {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .objects-text {
    padding: 50px 113px 0 30px;

    @media (max-width: $md) {
      padding: 0 60px 0 30px;
    }

    @media (max-width: $sm) {
      margin: 30px 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    @media (max-width: $xs) {
      margin: 20px 0;
    }
  }
}

.col-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;

  @media (max-width: $sm) {
    position: sticky;
    width: 100%;
  }

  .img-holder {
    &::after {
      @media (max-width: $xl) {
        top: 50px;
      }

      @media (max-width: $md) {
        height: 110%;
        top: 20px;
        left: 86px;
        border-right: 12px var(--green) solid;
      }

      @media (max-width: $sm) {
        top: 0;
        left: 48px;
        width: 90%;
      }

      @media (max-width: $xs) {
        top: 10px;
        width: 94%;
        left: 10px;
      }
    }
  }
}

.objects-text {
  h2 {
    margin-bottom: 32px;
    text-transform: uppercase;

    @media (max-width: $xxl) {
      font-size: 30px;
      line-height: 36px;
    }

    @media (max-width: $md) {
      line-height: 30px;
      margin-bottom: 20px;
    }

    @media (max-width: $sm) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  p {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $md) {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 22px;
    }

    @media (max-width: $sm) {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
